{% extends "yogam/base.html" %}

{% block content %}
    <div class="page-title">About {{site}}</div>
    <div class="newsbox">
        <p class="newsbody">
            If you are viewing on mobile devices, you will get a menu button on top right of the page.
            It looks like a stack of 3 small lines within a box.<br><br>

            Your suggestions are most welcome. Please send them using the feedback form. <br><br>

            Your feedback will appear in the
            <a class="teal bold" href="{{site}}/family/messages/">Messages</a> list. <br><br>

            Any logged in member can add a news from the
            <a class="teal bold" href="{{site}}/family/news_list/">News</a> page.<br><br>

            The domain <span class="bold">gopalavilasam.com</span> is registered
            with <span class="bold">GoDaddy</span> and the site is hosted
            on <span class="bold">PythonAnywhere</span>. <br><br>

            The admin interface <a class="teal bold" href="{{site}}/admin/">www.gopalavilasam.com/admin/</a>
            is better viewed on computer screens.<br><br>

            This web application is developed using <span class="bold">Python/Django</span>. <br><br>
        </p>
    </div>
{% endblock %}

{% block bottom-link %}
    <a href="/"><div class="back-link">Back to Home</div></a>
{% endblock %}
