{% extends "yogam/base.html" %}
{% load static %}

{% block extrahead %}
    <title>GVKY | {{ article.title }}</title>
{% endblock %}

{% block content %}

    <a href="{% url 'yogam:articles' %}">
        <div id="back2list"> <img src="{% static 'images/icons-png/back-black.png' %}"> Back to List</div>
    </a>

    <div class="page-title">{{ article.title }}</div>
    <div class="article-title">{{ article.author }}</div>

    <div class="gallerybox">
        Touch any photo to begin the slideshow.<br>
        Swipe left or right to move through the slideshow.

        <div id="links">
            {% for ph in photos %}
                <a href="/media/{{ ph.picture }}" title="{{ article.title }} - {{ forloop.counter }}" data-gallery>
                    <img src="/media/{{ ph.picture }}" alt="{{ article.title }} - {{ forloop.counter }}" height="80px">
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block slider %}
    <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sliderbottom %}
    <script src="{% static 'js/jquery.blueimp-gallery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-image-gallery.min.js' %}"></script>
{% endblock %}

{% block bottom-link %}
    {% if not article.home_page %}
        <a href="{% url 'yogam:articles' %}"><div class="back-link">Back to Albums</div></a>
    {% endif %}
{% endblock %}
