{% extends "yogam/base.html" %}

{% block content %}
    <div class="page-title">Albums</div>
    {% for article in articles %}
        <a href="{% url 'yogam:article' article.id %}">
            <div class="news-list-item">
                {{ article.title }}
                <br><span class="small">{{ article.author }}</span>
                <br><span class="small orange">{{ article.published_date|date:"d M Y" }}</span>
            </div>
        </a>
    {% endfor %}
    <div class="newsbox">
        <p class="newsbody">
        </p>
    </div>
{% endblock %}
