{% extends "yogam/base.html" %}
{% load static %}
{% block content %}
    <a href="{% url 'yogam:articles' %}">
        <div id="back2list"> <img src="{% static 'images/icons-png/back-black.png' %}"> Back to List</div>
    </a>
    <div class="page-title">{{ article.title }}</div>
    <div class="newsbox">
        <p class="newsbody">
            {% if article.picture %}
                <img src="{{ article.picture.url }}" width="200px" alt="{{ article.picture.url }}"/><br>
            {% endif %}
            {{ article.body|safe }}
        </p>
    </div>
{% endblock %}

{% block bottom-link %}
    {% if not article.home_page %}
        <a href="{% url 'yogam:articles' %}"><div class="back-link">Back to Albums</div></a>
    {% endif %}
{% endblock %}