{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon"/>

        <meta property="og:title" content="GOPALAVILASAM" />
        <meta property="og:url" content="http://www.gopalavilasam.com/" />
        <meta property="og:description" content="Welcome to our Kudumbayogam" />
        <meta property="og:image" content="http://www.gopalavilasam.com/static/images/logo5.png" />
        <meta property="og:type" content="article" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- jQuery library -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- Latest compiled JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles_30.css' %}"/>
        <script type="text/javascript" src="{% static 'js/util.js' %}"></script>

        <link rel="stylesheet" href="{% static 'css/blueimp-gallery.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-image-gallery.min.css' %}">

        {% block extrahead %}
        {% endblock %}

        {% block title %}
        {% endblock %}

    </head>
    <body>
        {% block slider %}{% endblock %}

        <div class="container-fluid outerfluid">
            <nav class="navbar navbar-default">
                <div class="container-fluid innerfluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-left" href="/">
                            <span id="brand">gopalavilasam</span>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="{% url 'yogam:tree' %}">Tree</a></li>
                            <li><a href="{% url 'yogam:members' %}">Members</a></li>
                            <li><a href="{% url 'yogam:births' 'init' %}">Birthdays</a></li>
                            <li><a href="{% url 'yogam:news-list' %}">News</a></li>
                            <li><a href="{% url 'yogam:articles' %}">Albums</a></li>
                            {% for article in home_articles %}
                                <li><a href="{% url 'yogam:article' article.id %}">{{ article.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="content">
                {% block content%}{% endblock %}
            </div>
        </div>

        <div id="base">
            {% block bottom-link %}{% endblock %}
        </div>

        <div style="clear:both;"></div>

        <div id="footer">
            {% block footer%}
                <div class="footerdiv">
                    <img src="/static/images/logo5.png"><br>
                    <a href="{% url 'yogam:feedback' %}" class="link bold">Feedback</a>
                    &#9900; <a href="{% url 'yogam:messages' %}" class="link bold">Messages</a>
                    &#9900; <a href="{% url 'yogam:committee' %}" class="link bold">Committee</a>
                    &#9900; <a href="{% url 'yogam:about' %}" class="link bold">About</a>
                    {% if user.is_authenticated %}
                        &#9900; <a href="{% url 'logout' %}?next=/" class="link bold">Logout</a>
                    {% else %}
                        &#9900; <a href="{% url 'login' %}?next=/" class="link bold">Login</a>
                    {% endif %}
                    <br><br> Gopalavilasam Kudumbayogam
                    <br>Alapra Kerala India
                    <br>gopalavilasam@gmail.com
                    {% if accessed_ip %}
                        <br><br>{% if accessed_ip.city %} You visit from: {{ accessed_ip.city }} {% endif %}
                    {% endif %}
                </div>
            {% endblock %}
            <br>
        </div>
        <div id="loader" style="display:none;"><img style="width:50px;" src="/static/images/grey.gif"></div>

        {% block sliderbottom %}{% endblock %}

    </body>
</html>
