{% extends "yogam/base.html" %}
{% load gopala_tags %}

{% block content %}
    <div class="page-title">Blood Groups</div>
    <table id="blood_table" cellspacing="10">
        {% for key in keys %}
            {% for group, members in groups.items %}
                {% if key == group %}
                    <tr><td class="bold" colspan="2">{{group}}</td></tr>
                    {% for member in members.0|dictsort:'nick_name' %}
                        <tr>
                            <td class="{{ members.2 }}">
                                <div class="message-box">
                                    {{group}}
                                </div>
                            </td>
                            <td class="center" style="text-align:center;">
                                <div class="message-box">
                                    <img src="/media/{{ member.icon }}"><br>
                                </div>
                            </td>
                            <td class="center" style="text-align:center;">
                                <div class="message-box">
                                    {{ member.nick_name }}<br>
                                    <div class="role">{{member.name}}</div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    {% blood_graph %}
    {{ graph|safe }}
{% endblock %}
