{% extends "yogam/base.html" %}
{% load static %}

{% block title %}
    <title>Committee</title>
{% endblock %}

{% block content %}
    <div class="page-title">Committee</div>
    {% for member in pres %}
    <div class="committee-box">
        <img src="{{ member.picture.url }}"><br>
        {{ member }}<br>
        <span class="small">{{ member.role}}</span>
    </div>
    {% endfor %}
    {% for member in secy %}
    <div class="committee-box">
        <img src="{{ member.picture.url }}"><br>
        {{ member }}<br>
        <span class="small">{{ member.role}}</span>
    </div>
    {% endfor %}
    <div style="clear:both;">
    {% for member in vice %}
    <div class="committee-box">
        <img src="{{ member.picture.url }}"><br>
        {{ member }}<br>
        <span class="small">{{ member.role}}</span>
    </div>
    {% endfor %}
    {% for member in jsec %}
    <div class="committee-box">
        <img src="{{ member.picture.url }}"><br>
        {{ member }}<br>
        <span class="small">{{ member.role}}</span>
    </div>
    {% endfor %}
    {% for member in trea %}
    <div class="committee-box">
        <img src="{{ member.picture.url }}"><br>
        {{ member }}<br>
        <span class="small">{{ member.role}}</span>
    </div>
    {% endfor %}
    {% for member in members %}
    <div class="committee-box">
        <img src="{{ member.picture.url }}"><br>
        {{ member }}<br>
        <span class="small">Member</span>
    </div>
    {% endfor %}
    <div class="newsbox">
        <p class="newsbody"></p>
    </div>
{% endblock %}
