{% extends "yogam/base.html" %}

{% block content %}
    {% for root, members in family.items %}
        <div class="page-title">Family of {{ root.name }}</div>
        <table id="family">
            <tr>
                <td>
                    <span class="bold">{{ root.name }}</span><br>
                    {% if root.date_of_birth %} {{ root.date_of_birth|date:"d-m-Y" }} {% endif %}

                    {% if root.blood_group %} {{ root.blood_group }}<br> {% endif %}

                    {% if root.malayalam_star %}
                        {{ root.malayalam_star }} {{ root.malayalam_month }} <br>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if root.contact_number %}
                            {{ root.contact_number }}<br>
                        {% endif %}

                        {% if root.email %}
                            {{ root.email }}<br>
                        {% endif %}

                        {% if root.address %}
                            {{ root.address|safe }}<br>
                        {% endif %}
                    {% endif %}
                    {{ root.job }}<br>

                    {{ root.official_address|safe }}<br>
                </td>
            </tr>
            <tr>
                <td>
                    {% with root.spouse as spouse %}
                        {% if spouse %}
                            <span class="bold">{{ spouse.name }}</span><br>

                            {% if spouse.date_of_birth %}
                                {{ spouse.date_of_birth|date:"d-m-Y" }}
                            {% endif %}

                            {% if spouse.blood_group %} {{ spouse.blood_group }}<br> {% endif %}

                            {% if spouse.malayalam_star %}
                                {{ spouse.malayalam_star }} {{ spouse.malayalam_month }} <br>
                            {% endif %}
                            {% if user.is_authenticated %}
                                {% if spouse.contact_number %}
                                    {{ spouse.contact_number }}<br>
                                {% endif %}

                                {% if spouse.email %}
                                    {{ spouse.email }}<br>
                                {% endif %}

                                {{ spouse.address|safe }}
                            {% endif %}
                            {{ spouse.job }}<br>
                            {% if spouse.official_address %}
                                {{ spouse.official_address|safe }}<br>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
            {% for member in members %}
                <tr>
                    <td>
                        <span class="bold">{{ member.name }}</span><br>
    
                        {{ member.date_of_birth|date:"d-m-Y" }}
                        {% if member.blood_group %} {{ member.blood_group }} {% endif %}
                        <br>
                        {{ member.malayalam_star }} {{ member.malayalam_month }} <br>

                        {% if user.is_authenticated %}
                            {{ member.contact_number }}<br>
                            {{ member.email }}<br>
                            {{ member.address|safe }}
                        {% endif %}

                        {{ member.job }}<br>
                        {{ member.official_address|safe }}<br>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
