{% extends "yogam/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/name_search.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="page-title">Feedback</div>
    <div class="newsbox">
        {% if message %}
            <p class="success small">{{message|safe}}</p>
        {% endif %}

        <form method="post" enctype="multipart/form-data" action=".">
            {% csrf_token %}
            <table class="small full">
                {{form.as_table}}
                <tr>
                    <td></td>
                    <td class="right"><input type="submit" value="Send"></td>
                </tr>
            </table>
        </form>
    </div>

    <div id="popup">
        <div id="popup_body"></div>
    </div>
{% endblock %}

{% block bottom-link %}
    <a href="/"><div class="back-link">Back to Home</div></a>
{% endblock %}
