{% extends "yogam/base.html" %}

{% block content %}
    <div class="home-banner">
        A Warm Welcome to<br>
        GOPALAVILASAM<br>
        Kudumbayogam
    </div>

    <div class="home-para">
        <div class="img-div">
            <img src="/static/images/appoomma1.jpg">
        </div>

        {% if banner %}
            <div class="home-banner">{{ banner.body|safe }}</div>
        {% endif %}

        {% if user.is_authenticated %}
            Thank you for logging in.<br>
            (Some content are accessible only when you are logged in.)
        {% else %}
            Some content are accessible only if you <a href="{% url 'login' %}?next=/" class="link bold">log in</a>.
        {% endif %}
    </div>
{% endblock %}

{% block bottom-link  %}
    {% if members|length %}
        <div class="birthday">
            Happy Birthday
            {% for member in members %}
                 {{member.nick_name}}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}