{% extends "yogam/base.html" %}

{% block content %}
    <div class="page-title">To continue, please sign in</div>

    {% if form.errors %}
        <div class="errorlist">Wrong credentials.</div>
    {% endif %}

    <body onLoad="document.getElementById('id_username').focus()">

    <div class="newsbox">
        <form action=".?next={{next}}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>User</th>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="hidden" name="next" value="{{ next }}"/></td>
                    <td><input type="submit" value="Login"/></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
