<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <style type="text/css">
            @page { size: a4 landscape; margin: .3in .3in .2in .3in; }
            body { font-family: "arial"; font-size: 10px; max-width: 10.5in; min-height: 7.5in; }
            td { text-align: left; padding: 0; vertical-align: top; padding-top: 2px;}
            th { text-align: left; font-weight: bold; padding: 0; }
            table { border-collapse: collapse; border-bottom: 1px solid #eee; }
            p {margin: 0; padding: 0;}
            @font-face {
                font-family: kerala; 
                src: url("/home/jithendralal/GVKY/family/templates/family/Meera-Regular.ttf");
            }
            .malayalam { font-family: "kerala"; }
        </style>
    </head>
    <body>
        <img src="/static/images/pdf-bg.png">
        <table cellspacing="0">
            <tr>
                <th width="2%"></th>
                <th width="13%">Name</th>
                <th width="5%">Blood</th>
                <th width="8%">Birth</th>
                <th width="10%">Phone</th>
                <th width="18%">Email</th>
                <th width="17%">Address</th>
                <th width="12%">Occupation</th>
                <th width="15%">Institution</th>
            </tr>
            {% for member in members %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ member.name }}<br>
                        ({{ member.nick_name }})
                    </td>
                    <td>{% if member.blood_group %}{{ member.blood_group }}{% endif %}</td>
                    <td class="malayalam">
                        {% if member.date_of_birth %}
                            {{ member.date_of_birth|date:"j F Y l" }}<br>
                        {% endif %}
                        {% if member.birth_star %} {{ member.malayalam_star_pdf }}{% endif %}
                        {% if member.birth_month %} ({{ member.malayalam_month_pdf }}) {% endif %}
                    </td>
                    <td>{{ member.contact_number }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.address|safe }}</td>
                    <td>{{ member.job }}</td>
                    <td>{{ member.official_address|safe }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>

