{% extends "yogam/base.html" %}

{% block content %}
    <div class="page-title">Messages</div>
    {% for message in messages %}
        <div class="message-box small">
            <div class="tiny floatrt">{{ message.published_date|date:"d-m-Y" }}</div>
            <div class="bold small">
                {% if message.name %}
                    <span class="red">{{ message.name|title }}</span>
                {% endif %}
                - {{ message.subject|title }}
            </div>
            <div class="small">{{ message.body|safe }}</div>
            {% if message.reply %}
                <hr>
                <span class="small right">{{ message.reply|safe }}</span>
            {% endif %}
        </div>
    {% endfor %}
    <div>&nbsp;</div>
{% endblock %}
