{% extends "yogam/base.html" %}
{% load static %}

{% block title %}
    <title>{{ newsitem.title }}</title>
{% endblock %}

{% block content %}
    <a href="{% url 'yogam:news-list' %}">
        <div id="back2list"> <img src="{% static 'images/icons-png/back-black.png' %}"> Back to List</div>
    </a>
    <div class="page-title">{{ newsitem.title }}</div>
    <div class="newsbox">
        <p class="newsbody">
            {% if newsitem.picture %}
                <img src="{{ newsitem.picture.url }}" width="200px" alt="{{ newsitem.picture.url }}"/><br>
            {% endif %}
            {{ newsitem.body|safe }}
        </p>
    </div>
{% endblock %}