{% extends "yogam/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link type="text/css" href="{% static 'js/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'js/news_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/name_search.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="page-title">News</div>
    <div id="add_row" {% if error %} style="display:none;" {% endif %}>
        {% if user.is_authenticated %}
            <span id="add_button">Add News</span>
        {% endif %}
        <span>{{message}}</span>
    </div>
    <div {% if not error %} style="display:none;" {% endif %} id="add_form">
        <form method="post" enctype="multipart/form-data" action=".">
            {% csrf_token %}
            <table class="small full">
                <tr>
                    <th>Add News</th>
                    <td class="right"><span id="add_close">Close</span></td>
                </tr>
                {{form.as_table}}
                <tr>
                    <td></td>
                    <td class="right"><input type="submit" value="Save"></td>
                </tr>
            </table>
        </form>
    </div>
    {% for news in news_list %}
        <a href="{% url 'yogam:news' news.id %}">
            <div class="news-list-item">{{ news.title }}</div>
        </a>
    {% endfor %}
    <div class="newsbox">
        <p class="newsbody">
            {% if user.is_authenticated %}
                If you have a news to publish, please use the Add News button above the news list.
            {% else %}
                If you have a news to publish, please Login to add it.<br   >
                You will see the Add News button above the news list, when you get logged in.
            {% endif %}
        </p>
    </div>
    <div id="popup" style="display:none;">
        <div id="popup_body"></div>
    </div>
{% endblock %}
