{% extends "yogam/base.html" %}
{% load gopala_tags static %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/tree_2.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="page-title">Our Family Tree</div>
    Touch a 2nd generation name to show / hide the branch.<br>
    Touch a photo to view member details.

    <div class="treebox">
        {{tree|safe}}
    </div>

    <div id="popup" style="display:none;">
        <div id="popup_title"><span id="popup_title_text"></span> <div id="popup_close"> &nbsp; X &nbsp; </div></div>
        <div id="popup_body"></div>
    </div>

    <div id="photo_popup">
        <div id="photo_popup_title"><span id="popup_title_text"></span> <div id="photo_popup_close"> &nbsp; X &nbsp; </div></div>
        <div id="photo_popup_body">
            <img id="photo_popup_image" src="">
        </div>
    </div>

    <a href="{% url 'yogam:blood_groups' %}"><div class="back-link">Blood Groups</div></a>
{% endblock %}
