
/*

color: white;
text-shadow: 2px 2px 4px #000000;

greenlike:  teal
goldlike:  #ff9900


*/

@font-face {
    font-family: gvky;
    src: url("AlternateGothicNo2TL-Reg.ttf");
}

body {
    color: #000;
    margin: auto;
    background: #fff;
}

.well {background: #fdf0e4;}

#headertext {
    font-size: 11px;
    text-align: left;
    color: #fff;
    float: left;
}

#headerlinks {
    font-size: 11px;
    margin-right: 20px;
    color: #fff;
    float: right;
}

#headerlinks a {
    font-size: 11px;
    color: #fff;
}

.navbar {
    margin-bottom: 10px;
}

.navbar-default {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 0px 0px 12px 12px;
}

.navbar-default .navbar-nav > li > a {
    color: teal;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    font-weight:bold;
    font-size: 22px;
    color: teal;
    margin: 0;
    padding: 10px 0 0 10px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #000;
}

.nav {
    border-radius: 0px 0px 12px 12px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: 3px solid #ff9900;
}

#brand {
    font-size: 24px;
    color: #fff;
    text-shadow: -1px -1px 2 white, 1px -1px 2 white, -1px 1px 2 white, 1px 1px 2 white;
    letter-spacing: 3px;
    margin: 18px 0 0 12px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    background: teal;
}

.back-link, .back-link a {
    color: #8f7256;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

.logout-link {
    font-weight: bold;
    color: #eee;
}

a {
    text-decoration: none;
}

.orange {color: #ff9900;}

th {
    text-align: left;
}
.floatrt { float: right; }
.floatlt { float: left; }

.home-banner {
    font-size: 20px;
    color: #e65c00;
    text-align: center;
    font-weight: bold;
}

.home-para {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    text-align: center;
}

.home-para img {
    width: 70%;
    max-width: 400px;
    margin: 0px;
    padding: 0;
}

#footer {
    color: #fff;
    border-top: 4px solid #ff9900;
    padding: 20px 0 0 0;
    background: teal;
    margin: 0px;
}

#footer img {
    margin: 5px;
    width: 20%;
    max-width: 150px;
}

.wine {
    background: #722f37;
    font-weight: bold;
    color: #fff;
    padding: 3px;
}
.gold {
    background: gold;
    font-weight: bold;
    color: #fff;
    padding: 3px;
}

.teal {
    color: teal;
}

#footer a {
    color: #fff;

}


.footerdiv {
    text-align: center;
    font-size: 11px;
    width: 100%;
}

.gallerybox {
    padding: 5px;
    background: #eee;
    text-align: center;
    border-left: 1px solid #ff9900;
    border-right: 1px solid #ff9900;
    border-bottom: 1px solid #ff9900;
    border-top: 1px solid #ff9900;
    border-radius: 0px 0px 12px 12px;
}

.gallerybox img {
    padding: 5px;
    border: 1px solid #ff9900;
    background: #fff;
    margin: 5px;
}

.newsbox {
    padding: 5px;
    background: #eee;
    text-align: justify;
    border-left: 1px solid #ff9900;
    border-right: 1px solid #ff9900;
    border-bottom: 1px solid #ff9900;
    border-top: 1px solid #ff9900;
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 15px;
}

.newsbox form {
    margin: 10px;
}

.newsbox img {
    padding: 5px;
    border: 1px solid #ff9900;
    background: #fff;
    width: 100%;
}

.newsbox p {
    padding: 10px;
}

.newsbody {
    padding: 10px;
    text-align: left;

}

/* article author styles */
.rightalign {
    text-align: right;
    margin: 0;
    padding: 0 10px 0 0;
    width: 100%;
}

.small{
    font-size: 80%;
}
.tiny{
    font-size: 50%;
}

.page-title {
    color: #666;
    font-size: 24px;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
    border-bottom: 3px solid #ff9900;
    font-family: "gvky";
}

.page-sub-title {
    color: #ff9900;
    font-size: 24px;
    background: #ff9900;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
}

.article-title {
    color: #666;
    font-size: 20px;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
    border-bottom: 3px solid #ff9900;
}

#home_menu {
    text-align: center;
}

.news-list-item {
    color: teal;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 5px 5px 15px;
    text-align: left;
    margin-bottom: 5px;
    background: #eee;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.back-button{
    color: #8f7256;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    background: #f4e4d3;
}

/* gallery styles */
.gallery-by {
    color: #8f7256;
    text-align: right;
    font-size: 11px;
}

.photo-caption {
    color: #8f7256;
    font-size: 14px;
}

.prev-next {
    text-align: center;
    width: 100%;
    margin-bottom:20px;
    padding: 14px;
}

.prev-next span.scrollbutton {
    color: #8f7256;
    font-weight: bold;
    background: #ff9900;
    padding: 5px 10px;
    font-size: 12px;
}

.prev-next a.left {
    border-radius: 10px 3px 3px 10px;
}

.prev-next a.right {
    border-radius: 3px 10px 10px 3px;
}
/* gallery styles */

/* tree styles */

.treebox {
    background: #eee;
    border-left: 1px solid #ff9900;
    border-right: 1px solid #ff9900;
    border-bottom: 1px solid #ff9900;
    border-top: 1px solid #ff9900;
    border-radius: 0px 0px 12px 12px;
    padding: 10px;
}

/* spans showing members */
.gen1, .gen2, .gen3, .gen4, .gen5 { background: #fff; padding: 5px; border-radius: 0px 14px 14px 0px; }

/* connecting lines - vertical */
.gen1-conn, .gen2-conn, .gen3-conn, .gen4-conn, .gen5-conn { border-bottom: 2px solid #fff; box-shadow: 3px 3px 5px #bbb;}
.gen6-conn { color: #fff; }

/* each row of the tree */
.node-row {
    font-size: 16px;
    padding: 7px 2px 7px 5px;
}

/* connecting lines - horizontal */
.node-connector {
    padding: 15px 0px 0px 0px;
    border-radius: 0px;
    border: 2px solid #fff;
    box-shadow: 3px 3px 5px #bbb;
}

/* span for each member */
.node-span { 
    width: 50%; 
    display: inline;
    min-width: 50%;
    cursor: pointer;
}

/* background span for a node */
.node-container {
    border-radius: 0px 14px 14px 0px;
    padding: 5px 1px 5px 0;
    box-shadow: 3px 3px 5px #bbb;
    background: #fff;
}

/* connecting line - absent - for youngest child - keep this here */
.gen { box-shadow: none; border: 0px; background: snow;}

#photo_popup {
    background: #eee;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    border: 1px solid #ff9900;
}

#photo_popup_title {
    padding: 5px;
    float: left;
    vertical-align: middle;
    width: 100%;
}

#photo_popup_body {
    background: #eee;
    text-align:center;
    margin: 10px;
}

#photo_popup_close {
    float: right;
    border: 1px solid #ff9900;
    background: #eee;
    padding: 2px 1px;
    color: burlywood;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
}

#photo_popup_image {
    max-width: 200px;
    filter: drop-shadow(1px 1px 6px #a68e76);
}

#popup_image{
    cursor: pointer;
}

#popup {
    border: 3px solid #fff;
    border-radius: 8px 8px 8px 8px;
    background: url('/static/images/page-bg.png') 0 top no-repeat #eee;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;    
    filter: drop-shadow(1px 1px 6px #a68e76);
    width: 300px;
    max-width: 300px;
}

#popup table {
    width: 100%;
}

#popup table td {
    padding: 5px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

#popup_title {
    background: #ddd;
    padding: 5px;
    float: left;
    vertical-align: middle;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid #fff;
}

#popup_title_text {
    display: inline-block;
    margin-top: 6px;
    font-weight: bold;
}

#popup_body {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    text-align:center;
}

#popup_close {
    float: right;
    border: 1px solid #ff9900;
    background: #f4e4d3;
    padding: 3px;
    color: #8f7256;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#member_image {
    cursor: pointer;
}

.children-title{
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}

ul.children-list {
    text-align: left;
    font-size: 12px;
}

.other-details {
    font-size: 12px;
}

.other-details table {
    width: 100%;
}

.other-details td {
    text-align: left;
    vertical-align: top;
}

.other-details p {
    font-size: 11px;
    margin: 0;
    box-sizing: 0px !important;
}

ul {
    margin-top: 5px;
}
/* tree styles */

#loader {
    width: 50px;
    z-index: 99;
    height: 50px;
}

ul.errorlist {
    padding: 0;
    margin: 5px 0 0 0;
    list-style: none;
}

.errorlist {
    color: crimson;
    background: snow;
    padding:10px;
    margin: 5px 0;
}

}
#dob {
    margin: auto;
    width: 50%;
}

#dob td {
    padding: 10px;
}

.month{
    font-size: 14px;
    padding-left: 10px;
    border-top: 5px solid #ff9900;
    border-bottom: 2px solid #ff9900;
    font-weight: bold;
}

.dob-name{
    text-align: center;
    font-size: 12px;
}

.dob-day {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
    padding: 5px 10px;
}

#dob td.current-month {
    background: #ecd0b4;
}


.birthday {
    font-size: 12px;
    text-align: center;
    background: snow;
    color: crimson;
    font-weight: bold;
}

#dob tr {background: #eee;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

#blood_table {
    margin: auto;
}

#blood_table tr {
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;*/
}

.con-td {
    width: 50%;
    background: #eee;
}

.blood-td {
    background: #eee;
    padding: 5px;
    border-bottom: 15px solid transparent;
    margin-bottom: 5px;
}

.con-td p{
    margin: 0px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.role {
    font-size: 10px;
}

.address {
    font-size: 10px;
    margin-top: 5px;
    padding: 3px;
    background: #fff;
    color: #000;
}

.margin10 {
    margin: 10px;
}

.email {
    font-size: 10px;
    margin-top: 5px;
    background: #f1e5d8;
    padding: 3px;
}

.blood {
    background: #ff9900;
}

#blood {
    font-size: 9px;
    width: 50%;
    margin: 10px auto;
    border: 1px solid teal;
    padding: 10px;
}

.opos {
    background: url('/static/images/opos.png') 0 top repeat-x transparent;
}
.bpos {
    background: url('/static/images/bpos.png') 0 top repeat-x transparent;
}
.apos {
    background: url('/static/images/apos.png') 0 top repeat-x transparent;
}
.abpos {
    background: url('/static/images/abpos.png') 0 top repeat-x transparent;
}

.oneg {
    background: url('/static/images/oneg.png') 0 top repeat-x transparent;
}
.bneg {
    background: url('/static/images/bneg.png') 0 top repeat-x transparent;
}
.aneg {
    background: url('/static/images/aneg.png') 0 top repeat-x transparent;
}
.abneg {
    background: url('/static/images/abneg.png') 0 top repeat-x transparent;
}



table#members tr {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

#members {
    margin: auto;
    width: 100%;
}

#members th, #members td {
    font-size: 14px;
    padding: 5px;
    vertical-align: middle;
}

.alpha {
    text-align:center;
    margin: 0 0 10px 0;
}
.alpha-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    background: teal;
    margin: 5px auto;
    padding: 5px;
    display: inline-block;
    width: 36px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.alpha-link:hover {
    background: #ff9900;
    color: #fff;
    cursor: pointer;
}

.alpha-link-clicked {
    background: #ff9900;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
    display: inline-block;
    width: 36px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

#calendar {
    width: 100%;
    background: #fff;
    font-size: 15px;
    font-weight: bold;
}


.cal-day {
    background: #ddd;
    color: #000;
    padding: 5px;
    font-size: 9px;
    font-weight: bold;
    vertical-align: top;
    width: 14%;
    border-radius: 10px;
    border: 5px solid #fff;
}

.cal-mem {
    font-size: 95%;
    text-align: center;
    font-weight: normal; 
}

.cal-weekday {
    text-align: center;
    font-size: 10px;
}

.blank {
    clear: both;
}


.month-link {
    color: #fff;
    text-decoration: none;
    font-size: 9px;
    text-align: center;
    background: teal;
    margin: 5px 10px;
    padding: 5px 7px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.month-link:hover {
    background: #ff9900;
    color: #fff;
    cursor: pointer;
}

.selected {
    background: #ff9900;
}

.current-month {
    background: teal;
}

.success {
    padding: 5px;
    color: green;
    background: lightgreen;
}

textarea {
    width: 90%;
    border: 1px solid #e1c1a2;
}

.right {
    text-align: right;
}

.full {
    width: 100%;
}

input[type="file"] {
    display: none;
}

label[for="id_picture"] {
    border: 1px solid #e1c1a2;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #f4e4d3;
    font-size: 9px;
}

input[type="submit"], #add_close, #add_button {
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: teal;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}

input[type="text"] {
    border: 1px solid #e1c1a2;
}
input[type="password"] {
    border: 1px solid #e1c1a2;
}

#family {
    font-size: 11px;
    margin: auto;
    width: 50%;
}
#family td{
    vertical-align: top;
    background: snow;
    filter: drop-shadow(1px 1px 6px #a68e76);
    padding: 10px;
}
#family p{
    margin: 0;
    padding: 0;
}

.link {
    cursor: pointer;
}

.message-box {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    text-align: left;
    margin-bottom: 5px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.message-box hr, .message-box p{
    margin: 2px;
}

.message-box em {
    color: teal;
}

#add_form{
    border: 1px solid #cfa57c;
    margin: 15px;
    background: #eee;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

#id_title, #id_subject, #id_name {
    width: 100%;
}

#id_body {
    rows: 12;
    width: 100%;
    min-height: 120px;
}

#add_row {
    margin: 12px 0;
}

.name-option {
    background: snow;
    padding: 3px;
    margin: 5px;
    border: 1px solid #cfa57c;
    cursor: pointer;
}

.small-link {
    color: #8f7256;
    text-decoration: none;
    font-size: 9px;
    text-align: center;
    background: #f4e4d3;
    padding: 5px 7px;
    display: inline-block;
    cursor: pointer;
    margin-top: 3px;
}

#back2list {
    text-align: right;
}

.container-fluid { max-width: 900px; }

.toggle { font-weight: bold; color: teal;}

.committee-box {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    margin: 5px auto 5px auto;
    background: #eee;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    width: 200px;
    border-radius: 10px;
}
.committee-box img {
    width: 100px;
}